.DS_Store
._.DS_Store

/.project
/.buildpath
/.idea

*~
*.swp
*.swo

/bin
/.bundle
/.vagrant
/.vagrantfile
/cache
/coverage/*

.rvmrc
.ruby-version
.ruby-gemset
.rbenv
bundler_stubs/*

vendor/bundle/*
